<launch>
	<!-- PX4 Arguments -->
	<arg name="fcu_url" default="/dev/ttyTHS1:921600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v1.0" />
	<arg name="respawn_mavros" default="false" />

	<!-- Stream mocap data or not -->
	<arg name="use_mocap" default="true"/>

	<!-- Use Bottom Camera + Realsense -->
	<arg name="use_realsense" default="false"/>
	<arg name="use_bottom_camera" default="false"/>
	<arg name="server_ip" default="192.168.1.200"/> <!-- default for Poly -->

	<!-- Launch MAVROS to connect to PX4 -->
	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find ifo_hardware)/config/ifo_mavros_pluginlist.yaml" />
		<arg name="config_yaml" value="$(find ifo_hardware)/config/ifo_px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

	<!-- Launch the realsense node -->
	<group if="$(arg use_realsense)">
		<include file="$(find realsense2_camera)/launch/rs_camera.launch">
			<arg name="enable_gyro" value="true"/>
			<arg name="enable_accel" value="true"/>
			<arg name="accel_fps" value="250"/>
			<arg name="gyro_fps" value="200"/>
			<arg name="enable_infra1" value="true"/>
			<arg name="enable_infra2" value="true"/>
			<arg name="enable_color" value="true"/>
			<arg name="infra_fps" value="20"/>
			<arg name="color_fps" value="20"/>
		</include>
	</group>

	<!-- Launch the bottom camera node -->
	<group if="$(arg use_bottom_camera)">

		<remap from="video_source/raw" to="bottom_camera"/>

		<node pkg="ros_deep_learning" type="video_source" name="video_source" output="screen">
			<param name="resource" value="csi://0"/>
			<param name="width" value="0"/>
			<param name="height" value="0"/>
			<param name="loop" value="0"/>
			<param name="framerate" value="20"/>
		</node>

		<node pkg="image_transport" type="republish" name="bottom_cam_compressor" args="raw in:=bottom_camera compressed out:=bottom_camera"/>
	</group>

	<!-- Launch the mocap vrpn client node -->
	<group if="$(arg use_mocap)">
		<include file="$(find vrpn_client_ros)/launch/sample.launch">
			<arg name="server" value="$(arg server_ip)"/>
		</include>
	</group>
	

</launch>
