<launch>
	<!-- Launch MAVROS to connect to PX4 -->
	<arg name="fcu_url" default="/dev/ttyTHS1:921600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v1.0" />
	<arg name="respawn_mavros" default="false" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find ifo_hardware)/config/ifo_px4_pluginlist.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

	<!-- Launch the bottom camera node -->
	<node name="bottom_camera" type="bottom_camera_node.py" pkg="ifo_hardware" />

	<!-- TODO. Launch the realsense node -->
	<!-- we need to make sure we can detect when it is plugged in or not-->

</launch>